:root {
  --primary-text-color: #757575;
  --second-text-color: #ffffff;
  --primary-title-color: #212121;
  --accent-color: #2196f3;
  --third-text-color: rgba(255, 255, 255, 0.6);
  --fourth-text-color: #f5f4fa;
  --background-color-footer: #2f303a;
  --border-color: #ececec;
}
p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0px;
}
ul {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-title-color);
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
/*-----header----*/
.header {
  background-color: var(--second-text-color);
  border-bottom: solid 1px var(--border-color);
}
.header-container {
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.header-logo {
  display: flex;
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
}
.menu-list {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
}
.menu-item:not(:last-child) {
  margin-right: 50px;
}
.menu-list-connect {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.header-logo {
  align-items: center;
}
.logo-link,
.studio-light,
.studio-dark {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.studio-dark {
  color: var(--primary-title-color);
}
.studio-light {
  color: var(--second-text-color);
}
.menu-link,
.header-contact {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-title-color);
}
.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}
.current {
  color: var(--accent-color);
}
.header-contact {
  color: var(--primary-text-color);
}
.header-contact:hover,
.header-contact:focus,
.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}

/*-----hero----- */
.hero {
  background-color: var(--background-color-footer);
}
.hero-heading {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--second-text-color);
}
.hero-heading {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.hero-heading {
  background-color: var(--background-color-footer);
}
.hero-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
}
.hero-title {
  margin-bottom: 50px;
  text-align: center;
}
.hero-title-about {
  padding-bottom: 4px;
}
.about-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.text-team {
  text-align: center;
}
.container-hero {
  padding-top: 200px;
  padding-bottom: 200px;
}
.team-container {
  background-color: var(--fourth-text-color);
  padding-top: 94px;
  padding-bottom: 94px;
}
.heading-button {
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--second-text-color);
  background-color: var(--accent-color);
}
.heading-button {
  min-width: 200px;
  height: 50px;
  display: block;
  margin: 0 auto;
  padding: 0px;
}
.heading-button {
  cursor: pointer;
}
.filters-list {
  cursor: pointer;
  padding: 0px;
  border: none;
  display: flex;
  justify-content: center;
  margin-bottom: 34px;
}
.filters-button:not(:last-child) {
  margin-right: 8px;
}
.button {
  cursor: pointer;
  padding: 6px 22px;
}
.button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
  background-color: var(--fourth-text-color);
}
.button:hover,
.button:focus {
  color: var(--fourth-text-color);
  background-color: var(--accent-color);
}
.button {
  cursor: pointer;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.team-title {
  padding-bottom: 50px;
}
.title-about {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 10px;
}
.section-list {
  display: flex;
}
.section-item:not(:last-child) {
  margin-right: 30px;
}
.img-item:not(:last-child) {
  margin-right: 30px;
}
.img-item-team:not(:last-child) {
  margin-right: 30px;
}
.img-item-team {
  align-items: center;
  width: 270px;
  background-color: var(--second-text-color);
}
.project-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}

.project-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
}
.project-item {
  border-bottom: solid var(--border-color) 1px;
}
.project-title-about {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
}
/* -----footer----- */
.footer {
  background-color: var(--background-color-footer);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-logo {
  display: inline-block;
  margin-bottom: 20px;
}
.footer-address-link,
.contact-link {
  font-style: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}
.footer-address-link {
  margin-bottom: 9px;
}
.footer-item:not(:last-child) {
  margin-bottom: 9px;
}
.contact-link {
  color: var(--third-text-color);
}
